/*Custom Bootstrap header*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
    background-color:#191C4D;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-text{
    color: #EDF5FF; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 600; 
    line-height: 22px; 
    letter-spacing: 0.80px; 
    word-wrap: break-word;
    position: absolute;
    left:230px;
    bottom: 15px;
}

/*Custom Bootstrap search bar*/

.search-icon {
    position:relative;
    z-index: 2;
    width: 25px; 
    height: 25px; 
    left: 880px;
    bottom: -3px;
}
.search-bar{
    background-color: #191C4D;
    margin-right: 40px; 
    top: 3px; 
    position: relative; 
    border: 1px #F6F6F6 solid;
    width: 40px; 
    height: 40px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border-radius: 10px; 
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
    display: inline-flex;
}

.search-text{
width: 335px; 
color: #F6F6F6; 
font-size: 16px; 
font-family: Inter; 
font-weight: 400; 
line-height: 22px; 
letter-spacing: 0.80px; 
word-wrap: break-word;
}



/* Logo/icon*/

.logo{
    position: absolute;
    width: 190px; 
    height: 50px;
    top:4px;
}

.icon{
    position: absolute;
    margin-right: 10px;
    top:4px;
    width: 30px; 
    height: 30px; 
}

/*image*/
.image-container {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1050px; 
    height: 200px; 
}

.image-container2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 500px; 
    height: 300px; 
}

.overlay-text {
    position: absolute;
    top: 15%;
    left:10%;
    transform: translate(-10%, -10%);
    text-align: center;
    color: white; 
    font-size: 15px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word
}

.overlay-text2 {
    position: absolute;
    top: 10%;
    left:15%;
    transform: translate(-10%, -10%);
    text-align: center;
    color: white; 
    font-size: 15px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word
}

.body-text {
    color: white; 
    font-size: 11px; 
    font-family: Inter; 
    font-weight: 300; 
    word-wrap: break-word;
    text-align: justify;
    position: absolute;
    bottom: 1%;
    left:6%;
    line-height: 15px;
    width: 350px; 
}

.body-text2 {
    color: white; 
    font-size: 11px; 
    font-family: Inter; 
    font-weight: 300; 
    word-wrap: break-word;
    text-align: justify;
    position: absolute;
    bottom: 50%;
    left:12%;
    line-height: 15px;
    width: 350px; 
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 1px; /* Adjust as needed */
}

/*button*/
.circle-arrow-btn{
    margin-left: 5px;
    width:20px;
    height:20px;
}